{% if anonaddy_container_labels_traefik_enabled %}
{% if anonaddy_container_labels_traefik_docker_network %}
traefik.docker.network={{ anonaddy_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if anonaddy_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in anonaddy_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ anonaddy_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [anonaddy_identifier + '-add-request-headers'] %}
{% endif %}

{% if anonaddy_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in anonaddy_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ anonaddy_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [anonaddy_identifier + '-add-response-headers'] %}
{% endif %}

traefik.enable=true
{% endif %}
traefik.http.routers.{{ anonaddy_identifier }}.rule={{ anonaddy_container_labels_traefik_rule }}
{% if anonaddy_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ anonaddy_identifier }}.priority={{ anonaddy_container_labels_traefik_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ anonaddy_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ anonaddy_identifier }}.service={{ anonaddy_identifier }}
traefik.http.routers.{{ anonaddy_identifier }}.entrypoints={{ anonaddy_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ anonaddy_identifier }}.tls={{ anonaddy_container_labels_traefik_tls | to_json }}
{% if anonaddy_container_labels_traefik_tls %}
traefik.http.routers.{{ anonaddy_identifier }}.tls.certResolver={{ anonaddy_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.{{ anonaddy_identifier }}.loadbalancer.server.port={{ anonaddy_container_http_port }}

{% if anonaddy_container_rspamd_labels_traefik_enabled %}
traefik.http.routers.{{ anonaddy_rspamd_identifier }}.rule={{ anonaddy_container_rspamd_labels_rule }}
{% if anonaddy_container_rspamd_labels_priority | int > 0 %}
traefik.http.routers.{{ anonaddy_rspamd_identifier }}.priority={{ anonaddy_container_rspamd_labels_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ anonaddy_rspamd_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ anonaddy_rspamd_identifier }}.service={{ anonaddy_identifier }}
traefik.http.routers.{{ anonaddy_rspamd_identifier }}.entrypoints={{ anonaddy_container_rspamd_labels_traefik_entrypoints }}
traefik.http.routers.{{ anonaddy_rspamd_identifier }}.tls={{ anonaddy_container_rspamd_labels_tls | to_json }}
{% if anonaddy_container_rspamd_labels_tls %}
traefik.http.routers.{{ anonaddy_rspamd_identifier }}.tls.certResolver={{ anonaddy_container_rspamd_labels_tls_certResolver }}
{% endif %}
traefik.http.services.{{ anonaddy_rspamd_identifier }}.loadbalancer.server.port={{ anonaddy_container_rspamd_http_port }}
{% endif %}

{{ anonaddy_container_labels_additional_labels }}